*{
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  height: 100%;
  #myBoard {
    margin: 10px auto !important;
    display: block;
    background: url("../images/opacity-ocean.png"), url("../images/opacity-ocean.png");
    background-position: 0 0, 804px 0;
    background-repeat: no-repeat;
    position: relative;
  }
  img{
    display: none;
  }
}