@font-face {
    font-family: military;
    src: url(../fonts/militaryFont.ttf);
}

div form {
    position: relative;
    top: -200px;
    left: 500px;
    width: 400px;
    height: 200px;
    text-align: center;
    margin-bottom: 10px;
    background: rgba(45,178,215,1);
    background: -moz-linear-gradient(left, rgba(45,178,215,1) 0%, rgba(41,156,188,0.9) 41%, rgba(21,136,168,0.86) 58%, rgba(37,127,152,0.75) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(45,178,215,1)), color-stop(11%, rgba(41,156,188,0.9)), color-stop(58%, rgba(21,136,168,0.86)), color-stop(100%, rgba(37,127,152,0.75)));
    background: -webkit-linear-gradient(left, rgba(45,178,215,1) 0%, rgba(41,156,188,0.9) 41%, rgba(21,136,168,0.86) 58%, rgba(37,127,152,0.75) 100%);
    background: -o-linear-gradient(left, rgba(45,178,215,1) 0%, rgba(41,156,188,0.9) 41%, rgba(21,136,168,0.86) 58%, rgba(37,127,152,0.75) 100%);
    background: -ms-linear-gradient(left, rgba(45,178,215,1) 0%, rgba(41,156,188,0.9) 41%, rgba(21,136,168,0.86) 58%, rgba(37,127,152,0.75) 100%);
    background: linear-gradient(to right, rgba(45,178,215,1) 0%, rgba(41,156,188,0.9) 41%, rgba(21,136,168,0.86) 58%, rgba(37,127,152,0.75) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2db2d7', endColorstr='#257f98', GradientType=1 );
    border-radius: 10px;
    color: white;
    font-family: military;
}

div form header {
    padding-bottom: 10px;
    padding-top: 10px;

}

div form header span {
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

input[type="text"] {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    width: 60px;
    border-radius: 10px;
    background-color: rgba(45,178,215,1);
    color: white;
}