html, body, div {
  margin: 0px;
  padding: 0px;
}
html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;

  body {
    width: 100%;
    height: 100%;
    background-image: url("../images/bgImage.jpg");
//    background-color: #d7f1d7;
    background-size: 100% 100%;
    position: relative;
    #wrapper{
      width: 1050px;
//      height: 490px;
      margin: 0px auto;
      #field1{
        width: 480px;
        height: 467px;
        margin-top: 20px;
        margin-left: 0px;
        display: inline-block;
        background-image: url("../images/ocean.jpg");
        div{
          width: 38px;
          height: 37px;
          display: inline-block;
          outline: 1px solid #000;
          margin-right: -1px;
          background: transparent;
          cursor: pointer;
        }
        div:active {
          background: rgba(255,255,255,0.3);
        }
      }
      #field2{

        width: 480px;
        height: 467px;
        margin-top: 20px;
        margin-left: 87px;
        display: inline-block;
        background-image: url("../images/opacity-ocean.png");
        div{
          width: 38px;
          height: 37px;
          display: inline-block;
          outline: 1px solid #000;
          margin-right: -1px;
          cursor: pointer;
          background: rgba(255,255,255,0.6);

        }
        div:active {
          background: rgba(255,255,255,0.3);
        }

      }
    }
    #playerFieldPrompt {
			position: absolute;
			top: 200px;
			left: 150px;
      width: 300px;
      height: 150px;
      font-size: 2rem;
      background: rgba(255,255,255,0.9);
      border-radius: 5px;
      padding: 1rem;
      display: none;
      z-index: 50;
        ul {
          list-style: none;
            li {
              display: inline-block;
              width: 100px;
              height: 30px;
              border: 1px solid #000;
              background: #C3C3C3;
              text-align: center;
              color: #000;
              line-height: 30px;
              cursor: pointer;
              transition: 0.5s;
            }
            li:hover{
              background: #E1E1E1; 
            }
            li:active {
              background: rgba(255,255,255,0.9); 
            }
        }
    }

    #bomber{
      width: 1050px;
      height: 256px;
      background: url("../images/rightGun.png"), url("../images/leftGun.png"), no-repeat;
      background-repeat: no-repeat;
      background-position: 00, 794px 0;
    }

    #cover {
      width: 100%;
      height: 100%;
      background: transparent;
      position: absolute;
      display: none;
      z-index: 1;
    }
    // #div1 {width:150px;height:30px;padding:10px;border:1px solid #aaaaaa;}
    // #1a{background: url('../images/shipFront.png');z-index: 50;}
  }

}