html, body, div {
	margin: 0px;
	padding: 0px;
}
html {
font-size: 62.5%;
width: 100%;
height: 100%;

	body {
	width: 100%;
	height: 100%;
	background-image: url("../images/ocean.jpg");
	background-size: 100% 100%;
	position: relative;
		#wrapper{
		width: 1050px;
		height: 490px;
		border: 1px solid #FF0000;
		margin: 0px auto;
			#field1{
			width: 500px;
			height: 285px;		
			margin-top: 20px;
			margin-left: 0px;
			display: inline-block;
				div{
					width: 38px;
					height: 37px;
					display: inline-block;
					outline: 1px solid #000; 
					margin-right: -1px;
					background: transparent;
					cursor: pointer;
				}					
				div:active {
					background: rgba(255,255,255,0.3);						
				}				
			}
			#field2{
			width: 500px;
			height: 500px;		
			margin-top: 20px;
			margin-left: 40px;
			display: inline-block;
				div{
					width: 38px;
					height: 37px;
					display: inline-block;
					outline: 1px solid #000; 
					margin-right: -1px;
						cursor: pointer;
					background: rgba(255,255,255,0.6);

				}
				div:active {
					background: rgba(255,255,255,0.3);
				}					
				
			}
		}
		#playerFieldPrompt {
			position: absolute;
			top: 200px;
			left: 150px;
			width: 300px;
			height: 100px;
			font-size: 2rem;
			background: rgba(255,255,255,0.9);
			border-radius: 5px;
			padding: 1rem;
			display: none;
		}	
		// #div1 {width:150px;height:30px;padding:10px;border:1px solid #aaaaaa;}
		// #1a{background: url('../images/shipFront.png');z-index: 50;}
	}
	
}
